<ng-container *ngIf="userInfo$ | async as userInfo">
    <div *ngIf="isAdmin | async">
        <div class="sidenav">
            <div class="menu-content">
                <div class="user">{{userInfo?.surname}} {{userInfo?.username}}</div>
                <div class="chapter">Лекции</div>
                <div class="menu" *ngFor="let les of lessons$ | async">
                    <a (click)="selectLesson(les.id)">{{les.name}}</a>
                </div>
            </div>
        </div>
        <main *ngIf="activeLesson$ | async as activeLesson">
            <div class="lesson-name" *ngIf="!activeLesson?.id">Платформа для проведения удаленных лекционных занятий</div>
            <div class="lesson-description" *ngIf="!activeLesson?.id">Актуальность дистанционного образования возросла на фоне пандемии. Удаленное проведение
                 лекций, практических занятий, конференций, собраний сейчас имеет, как никогда, большую актуальность и пользуется
                  спросом. Человек хочет быть мобильным, и всевозможные платформы, направленные на удаленную работу, позволяют быть таковым. 
                <br>
                Данная платформа предназначена для проведения лекций в университете. Такой подход к проведению
                 занятий имеет ряд преимуществ: университет имеет полную свободу в составлении расписания, т.к. уже не нужно будет
                  учитывать большие разбеги во времени между парами, ведь студент или преподаватель может удаленно подключиться к занятию,
                   затем оставшееся время до следующей пары всецело в его распоряжении. Студент всегда будет иметь возможность присутствовать
                    на занятии, на случай плохого самочувствия или других уважительных причин, которые не позволяют ему быть оффлайн. Ситуация
                     с карантином показала, на сколько важно быть мобильным и быть готовым подстраиваться под сложившуюся ситуацию. Видеозвонки
                      позволяют студентам общаться в режиме реального времени с преподавателем, и благодаря функции “демонстрация экрана”
                       наглядно изучать графики, работу программ, которые демонстрирует лектор.
                    </div>
            <div class="lesson-name">{{activeLesson?.name || ''}}</div>
            <div class="lesson-description">{{activeLesson?.description || ''}}</div>
            <div class="warning" *ngIf="activeLesson?.isLectureInProgress">Идет лекция</div>
            <div class="warning" *ngIf="!activeLesson?.isLectureInProgress && activeLesson?.id">Лекция пока не началась...</div>
            <button *ngIf="activeLesson?.isLectureInProgress">Присоединиться к лекции</button>
        </main>
    </div>
    <div class="warning" *ngIf="!(isAdmin | async)">
        Ожидайте разрешения...
    </div>
</ng-container>