<div class="wrapper">
  <div class="container">
    <div  class="header">
      <img src="./assets/logo_bntu.png" routerLink="/" width="60" height="60">
      <div class="nav" *ngIf="!(isRegistr | async)">
        <a routerLink="/signup">Регистрация</a>
        <a class="login" *ngIf="!(isRegistr | async)" routerLink="/signin">Войти</a>
        <!-- <a *ngIf="isAdmin | async" routerLink="/account">Lessons</a> -->
        <!-- <a *ngIf="isRegistr | async" routerLink="/cars">Cars</a>  -->
        <a *ngIf="isRegistr | async" (click)="logOut()" href="#">Выйти</a>
      </div>
      <div class="nav" *ngIf="isRegistr | async">
        <!-- <a *ngIf="isAdmin | async" routerLink="/account">Lessons</a> -->
        <!-- <a *ngIf="isRegistr | async" routerLink="/cars">Cars</a>  -->
        <a class="login" *ngIf="isRegistr | async" (click)="logOut()" href="#">Выйти</a>
      </div>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>