<img src="./assets/logo_bntu.png" width="50" height="50">
<div class="container">
  <div class="nav">
    <a routerLink="/signup">Регистрация</a>
    <a *ngIf="!(isRegistr | async)" routerLink="/signin">Войти</a>
    <a *ngIf="isAdmin | async" routerLink="/account">Lessons</a>
    <!-- <a *ngIf="isRegistr | async" routerLink="/cars">Cars</a>  -->
    <a *ngIf="isRegistr | async" (click)="logOut()" href="#">Log Out</a>
  </div>
  <div *ngIf="!(isAdmin | async) && (isRegistr | async)">
    Ожидайте разрешения...
  </div>
  <router-outlet></router-outlet>
</div>