label {
    margin-right: 10px;
    font-weight: 500;
}

button {
    padding: 5px 20px;
    border-radius: 5px;
    color: #789e8b;
    font-weight: 500;
    background: rgb(255, 255, 255);
    border: 2px solid #789e8b;
    margin-top: 10px;
}

.label-password {
    margin-right: 15px;
}

.registr {
    margin-left: 43%;
    width: min-content;
}

.registr__container {
    background-color: #fff;
    padding: 20px;
    border: 2px solid #789e8b;
    border-radius: 10px;
}

.header-name {
    margin-left: 40%;
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 20px;
    color: #789e8b;
}

.error {
    color: red;
}