<div class="registr">
    <div class="registr__container">
      <form
        *ngIf="!(isRegistr | async)"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            class="username-input"
            name="username"
            [(ngModel)]="form.username"
            required
            minlength="3"
            maxlength="20"
            #username="ngModel"
          />
          <div class="username-danger" *ngIf="username.errors && f.submitted">
            <div *ngIf="username.errors['required']">Username is required</div>
            <div *ngIf="username.errors['minlength']">
                Username must be at least 3 characters
                <div *ngIf="username.errors['maxlength']">
                  Username must be at most 20 characters
                </div>
            </div>
        </div>
    </div>
        <div class="form-group">
          <label class="label-password" for="password">Password</label>
          <input
            type="password"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="4"
            #password="ngModel"
          />
          <div class="pass-danger" *ngIf="password.errors && f.submitted">
            <div *ngIf="password.errors['required']">Password is required</div>
            <div *ngIf="password.errors['minlength']">
              Password must be at least 4 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <button>Sign Up</button>
        </div>
        <div *ngIf="f.submitted && isFail">
          Signup failed!<br />{{ errorMessage }}
        </div>
      </form>
    </div>
</div>
  