<div class="login">
    <div class="login__container">
      <form
        *ngIf="!(isLoggedIn | async)"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="username">Логин</label>
          <input
            type="text"
            class="username-input"
            name="username"
            [(ngModel)]="form.username"
            required
            minlength="3"
            maxlength="20"
            #username="ngModel"
          />
          <div class="username-danger" *ngIf="username.errors && f.submitted">
            <div *ngIf="username.errors['required']">Обязательное поле</div>
            <div *ngIf="username.errors['minlength']">
                Минимум 3 символа
                <div *ngIf="username.errors['maxlength']">
                  Максимум 20 символов
                </div>
            </div>
        </div>
    </div>
        <div class="form-group">
          <label class="label-password" for="password">Пароль</label>
          <input
            type="password"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="4"
            #password="ngModel"
          />
          <div class="pass-danger" *ngIf="password.errors && f.submitted">
            <div *ngIf="password.errors['required']">Обязательное поле</div>
            <div *ngIf="password.errors['minlength']">
              Минимум 4 символа
            </div>
          </div>
        </div>
        <div class="form-group">
          <button>Войти</button>
        </div>
        <div *ngIf="f.submitted && isLoginFailed">
          Ошибка входа в систему<br />
        </div>
      </form>
    </div>
</div>
  